node-red/.flows.json.backup
[{"id":"c859c00f.47c5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b63173b9.3294","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"24a4c00b.e5dba","type":"sunrise","z":"c859c00f.47c5","name":"from dawn to night","lat":"36.006001","lon":"-83.954602","start":"dawn","end":"night","soff":0,"eoff":0,"x":110,"y":120,"wires":[[],["c84178ca.02d898"]]},{"id":"c84178ca.02d898","type":"switch","z":"c859c00f.47c5","name":"dawn or night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":120,"wires":[["8ab0dab9.a16e98"],["ea711329.da092"]]},{"id":"8ab0dab9.a16e98","type":"api-call-service","z":"c859c00f.47c5","name":"dehumidifier on","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dehumidifier_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":100,"wires":[[]]},{"id":"ea711329.da092","type":"api-call-service","z":"c859c00f.47c5","name":"dehumidifier off","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.dehumidifier_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":140,"wires":[[]]},{"id":"8b277eae.c0196","type":"switch","z":"c859c00f.47c5","name":"home or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":240,"wires":[["b3c8d8af.5d9e08","f7171457.0f9e98","805ab287.656a4"],["48146946.cefe78","4027266f.954f48"]]},{"id":"b3c8d8af.5d9e08","type":"api-current-state","z":"c859c00f.47c5","name":"Status?","server":"b63173b9.3294","version":1,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":180,"wires":[["5ecd9f79.a9d6c"],["bf3bb8fe.cd5cb8"]]},{"id":"518164d3.8c3bac","type":"api-call-service","z":"c859c00f.47c5","name":"Just Left","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":280,"wires":[["f7171457.0f9e98"]]},{"id":"5ecd9f79.a9d6c","type":"api-call-service","z":"c859c00f.47c5","name":"Just Arrived","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":180,"wires":[["4027266f.954f48"]]},{"id":"e8ab05cf.e74898","type":"api-call-service","z":"c859c00f.47c5","name":"Away","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":260,"wires":[["805ab287.656a4"]]},{"id":"343f2505.7f8a4a","type":"api-call-service","z":"c859c00f.47c5","name":"Extended Away","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":220,"wires":[[]]},{"id":"f7171457.0f9e98","type":"trigger","z":"c859c00f.47c5","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"home","bytopic":"topic","outputs":1,"x":750,"y":260,"wires":[["e8ab05cf.e74898"]]},{"id":"805ab287.656a4","type":"trigger","z":"c859c00f.47c5","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":990,"y":240,"wires":[["343f2505.7f8a4a"]]},{"id":"4027266f.954f48","type":"trigger","z":"c859c00f.47c5","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"not_home","bytopic":"topic","outputs":1,"x":750,"y":220,"wires":[["bf3bb8fe.cd5cb8"]]},{"id":"bf3bb8fe.cd5cb8","type":"api-call-service","z":"c859c00f.47c5","name":"Home","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":200,"wires":[[]]},{"id":"54242d57.1d7494","type":"trigger-state","z":"c859c00f.47c5","name":"per person","server":"b63173b9.3294","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"ntik6826mzb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":240,"wires":[["446344b1.61ba0c"],[]]},{"id":"48146946.cefe78","type":"api-current-state","z":"c859c00f.47c5","name":"Status?","server":"b63173b9.3294","version":1,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":300,"wires":[["518164d3.8c3bac"],[]]},{"id":"446344b1.61ba0c","type":"change","z":"c859c00f.47c5","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":240,"wires":[["c19cb39c.1593d"]],"l":false},{"id":"c19cb39c.1593d","type":"rbe","z":"c859c00f.47c5","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":225,"y":240,"wires":[["8b277eae.c0196"]],"l":false},{"id":"67be3b6e.2a4754","type":"trigger-state","z":"c859c00f.47c5","name":"per input person","server":"b63173b9.3294","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^input_select\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":80,"y":420,"wires":[["a67fd373.37b2b"],[]]},{"id":"a67fd373.37b2b","type":"switch","z":"c859c00f.47c5","name":"status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Just Arrived","vt":"str"},{"t":"eq","v":"Just Left","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":420,"wires":[[],["e5400a62.ff6c18","a42cac04.698f3"],[],["c099d208.8c38e"],["c099d208.8c38e"]]},{"id":"e5400a62.ff6c18","type":"api-call-service","z":"c859c00f.47c5","name":"turn on ambient lights","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_1, light.living_room_2, light.living_room_3, light.bed_lamp_1, light.bed_lamp_2, light.dining_room_light_level_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":400,"wires":[[]]},{"id":"a42cac04.698f3","type":"api-call-service","z":"c859c00f.47c5","name":"fluxer on","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":360,"wires":[[]]},{"id":"c099d208.8c38e","type":"api-current-state","z":"c859c00f.47c5","name":"everyone not home","server":"b63173b9.3294","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.everyone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":460,"wires":[["50a1fd59.ac8294"],[]]},{"id":"50a1fd59.ac8294","type":"api-call-service","z":"c859c00f.47c5","name":"all lights off","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":460,"wires":[[]]}]