node-red/.flows.json.backup
[{"id":"c859c00f.47c5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b63173b9.3294","type":"server","name":"Home Assistant","addon":true},{"id":"23aa461d.5eafea","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24a4c00b.e5dba","type":"sunrise","z":"c859c00f.47c5","name":"from dawn to night","lat":"36.006001","lon":"-83.954602","start":"sunrise","end":"night","soff":0,"eoff":0,"x":150,"y":100,"wires":[[],["c84178ca.02d898"]]},{"id":"c84178ca.02d898","type":"switch","z":"c859c00f.47c5","name":"dawn or night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":400,"y":80,"wires":[["8ab0dab9.a16e98"],["ea711329.da092"]]},{"id":"8ab0dab9.a16e98","type":"api-call-service","z":"c859c00f.47c5","name":"dehumidifier on","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dehumidifier","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":820,"y":40,"wires":[[]]},{"id":"ea711329.da092","type":"api-call-service","z":"c859c00f.47c5","name":"dehumidifier off","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.dehumidifier","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":820,"y":100,"wires":[[]]},{"id":"8b277eae.c0196","type":"switch","z":"c859c00f.47c5","name":"home or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":720,"wires":[["b3c8d8af.5d9e08","f7171457.0f9e98","805ab287.656a4"],["48146946.cefe78","4027266f.954f48"]]},{"id":"b3c8d8af.5d9e08","type":"api-current-state","z":"c859c00f.47c5","name":"Status?","server":"b63173b9.3294","version":2,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":540,"y":660,"wires":[["5ecd9f79.a9d6c"],["bf3bb8fe.cd5cb8"]]},{"id":"518164d3.8c3bac","type":"api-call-service","z":"c859c00f.47c5","name":"Just Left","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":700,"y":780,"wires":[["f7171457.0f9e98"]]},{"id":"5ecd9f79.a9d6c","type":"api-call-service","z":"c859c00f.47c5","name":"Just Arrived","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":640,"wires":[["4027266f.954f48"]]},{"id":"e8ab05cf.e74898","type":"api-call-service","z":"c859c00f.47c5","name":"Away","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":970,"y":740,"wires":[["805ab287.656a4"]]},{"id":"343f2505.7f8a4a","type":"api-call-service","z":"c859c00f.47c5","name":"Extended Away","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1240,"y":700,"wires":[[]]},{"id":"f7171457.0f9e98","type":"trigger","z":"c859c00f.47c5","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"home","bytopic":"topic","outputs":1,"x":850,"y":740,"wires":[["e8ab05cf.e74898"]]},{"id":"805ab287.656a4","type":"trigger","z":"c859c00f.47c5","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":1090,"y":720,"wires":[["343f2505.7f8a4a"]]},{"id":"4027266f.954f48","type":"trigger","z":"c859c00f.47c5","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"not_home","bytopic":"topic","outputs":1,"x":850,"y":700,"wires":[["bf3bb8fe.cd5cb8"]]},{"id":"bf3bb8fe.cd5cb8","type":"api-call-service","z":"c859c00f.47c5","name":"Home","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":680,"wires":[[]]},{"id":"54242d57.1d7494","type":"trigger-state","z":"c859c00f.47c5","name":"per person","server":"b63173b9.3294","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":720,"wires":[["446344b1.61ba0c"],[]]},{"id":"48146946.cefe78","type":"api-current-state","z":"c859c00f.47c5","name":"Status?","server":"b63173b9.3294","version":1,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":540,"y":760,"wires":[["518164d3.8c3bac"],[]]},{"id":"446344b1.61ba0c","type":"change","z":"c859c00f.47c5","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":215,"y":720,"wires":[["c19cb39c.1593d"]],"l":false},{"id":"c19cb39c.1593d","type":"rbe","z":"c859c00f.47c5","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":265,"y":720,"wires":[["8b277eae.c0196"]],"l":false},{"id":"67be3b6e.2a4754","type":"trigger-state","z":"c859c00f.47c5","name":"per input person","server":"b63173b9.3294","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^input_select\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":180,"y":500,"wires":[["7d230ce0.ae9d54"],[]]},{"id":"a67fd373.37b2b","type":"switch","z":"c859c00f.47c5","name":"status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Just Arrived","vt":"str"},{"t":"eq","v":"Just Left","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":520,"wires":[[],["e5400a62.ff6c18","ed9e009f.f2c7d","7b6d920.659e77"],[],["f3361efd.69f1e"],["c099d208.8c38e"]]},{"id":"e5400a62.ff6c18","type":"api-call-service","z":"c859c00f.47c5","name":"turn on ambient lights","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_lamp_1, light.living_room_lamp_2, light.living_room_lamp_3, light.living_room_light_3, light.dining_room_light_2, light.bed_lamp_1, light.bed_lamp_2, light.hue_color_lamp_1, light.hue_color_lamp_1_2, light.hue_color_lamp_1_3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":920,"y":380,"wires":[[]]},{"id":"c099d208.8c38e","type":"api-current-state","z":"c859c00f.47c5","name":"occupancy zero","server":"b63173b9.3294","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lte","entity_id":"input_number.occupancy","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":700,"y":500,"wires":[["50a1fd59.ac8294","9b5f5285.7c72a","879f140d.141648"],["e5400a62.ff6c18","7b6d920.659e77"]]},{"id":"50a1fd59.ac8294","type":"api-call-service","z":"c859c00f.47c5","name":"all lights off","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":920,"y":500,"wires":[[]]},{"id":"9b5f5285.7c72a","type":"api-call-service","z":"c859c00f.47c5","name":"turn tv off","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"remote","service":"turn_off","entityId":"switch.living_room_smart_tv","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":540,"wires":[[]]},{"id":"ed9e009f.f2c7d","type":"api-call-service","z":"c859c00f.47c5","name":"increment occupancy","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"input_number","service":"increment","entityId":"input_number.occupancy","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":380,"y":340,"wires":[[]]},{"id":"f3361efd.69f1e","type":"api-call-service","z":"c859c00f.47c5","name":"decrement occupancy","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"input_number","service":"decrement","entityId":"input_number.occupancy","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":400,"wires":[["c099d208.8c38e"]]},{"id":"7d230ce0.ae9d54","type":"rbe","z":"c859c00f.47c5","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":315,"y":500,"wires":[["a67fd373.37b2b"]],"l":false},{"id":"e946aee1.9e714","type":"api-call-service","z":"c859c00f.47c5","name":"daylight lights off","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room_light_level_2, light.kitchen_light_level","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":830,"y":220,"wires":[[]]},{"id":"1fedc17.3567e3f","type":"sunrise","z":"c859c00f.47c5","name":"from goldenHourEnd to sunsetStart","lat":"36.006001","lon":"-83.954602","start":"goldenHourEnd","end":"sunsetStart","soff":0,"eoff":0,"x":140,"y":160,"wires":[[],["570adef8.dba4e"]]},{"id":"570adef8.dba4e","type":"switch","z":"c859c00f.47c5","name":"goldenHourEnd or sunsetStart","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":160,"wires":[[],["531cd51c.58428c"]]},{"id":"7cfb7837.8b2748","type":"api-call-service","z":"c859c00f.47c5","name":"daylight lights on","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_light_level_2, light.kitchen_light_level","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":830,"y":160,"wires":[[]]},{"id":"39fc8b46.b0e184","type":"bigtimer","z":"c859c00f.47c5","outtopic":"","outpayload1":"","outpayload2":"","name":"at 2am","comment":"","lat":0,"lon":0,"starttime":"120","endtime":"135","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":660,"y":580,"wires":[["9b5f5285.7c72a","223d0f31.83682"],[],[]]},{"id":"7b6d920.659e77","type":"api-call-service","z":"c859c00f.47c5","name":"turn on adaptive lights","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.adaptive_lighting_bedroom_lights, switch.adaptive_lighting_living_room_lights, switch.adaptive_lighting_library_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":920,"y":340,"wires":[[]]},{"id":"879f140d.141648","type":"api-call-service","z":"c859c00f.47c5","name":"turn off adaptive lights","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.adaptive_lighting_bedroom_lights, switch.adaptive_lighting_living_room_lights, switch.adaptive_lighting_library_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":950,"y":460,"wires":[[]]},{"id":"531cd51c.58428c","type":"api-call-service","z":"c859c00f.47c5","name":"christmas lights on","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.roof_christmas_lights1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":840,"y":280,"wires":[[]]},{"id":"223d0f31.83682","type":"api-call-service","z":"c859c00f.47c5","name":"christmas lights off","server":"b63173b9.3294","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.roof_christmas_lights1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":930,"y":600,"wires":[[]]},{"id":"26d677fb.742298","type":"trigger-state","z":"c859c00f.47c5","name":"garage door sensor","server":"b63173b9.3294","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.node_13_access_control_window_door_is_open","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":110,"y":840,"wires":[["f21a27af.706828"],[]]},{"id":"236c2822.aa3948","type":"rbe","z":"c859c00f.47c5","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":295,"y":840,"wires":[["9b5543c5.27902"]],"l":false},{"id":"ffae534c.6c0a8","type":"api-call-service","z":"c859c00f.47c5","name":"announce open","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"media_player.home_speakers","data":"{\"message\":\"The garage door is open.\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":860,"wires":[[]]},{"id":"9b5543c5.27902","type":"looptimer","z":"c859c00f.47c5","duration":"60","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":420,"y":840,"wires":[["ffae534c.6c0a8","814dfbaa.5a8508"],["e254e25a.1bda3"]]},{"id":"f21a27af.706828","type":"change","z":"c859c00f.47c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload = \"on\" ? \"on\" : \"STOP\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":840,"wires":[["236c2822.aa3948"]],"l":false},{"id":"e254e25a.1bda3","type":"api-call-service","z":"c859c00f.47c5","name":"announce closed","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"media_player.home_speakers","data":"{\"message\":\"Garage door closed.\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":900,"wires":[[]]},{"id":"814dfbaa.5a8508","type":"api-call-service","z":"c859c00f.47c5","name":"notify open","server":"b63173b9.3294","version":3,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"title\":\"Garage Door Opened\",\"message\":\"The garage door is open.\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":820,"wires":[[]]}]